spring:
  data:
    mongodb:
      uri: mongodb://localhost:27017/geekmonkey_taskmanagement
  thymeleaf:
    cache: false
  messages:
    basename: messages

server:
  port: 8080

logging:
  level:
    org.springframework.security: INFO
